<ion-tabs>

  <ion-tab-bar slot="bottom">

    <!--<ion-tab-button tab="Retour" defaulthref="Accueil">
      <ion-icon name="return-left"></ion-icon>
      <ion-label>Retour</ion-label>
    </ion-tab-button>--> 

    <ion-tab-button tab="Cours">
      <ion-icon name="book"></ion-icon>
      <ion-label>Cours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Accueil">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Gestes">
      <ion-icon name="build"></ion-icon>
      <ion-label>Gestes</ion-label>
    </ion-tab-button>   
    
  </ion-tab-bar>

</ion-tabs>
