<ion-header>
  <ion-toolbar>
    

    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- EXEMPLE :(https://ionicframework.com/docs/api/back-button)
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" icon="add"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 
-->


<ion-content>

  <ion-card class="welcome-card" href="./card1/card1.page.html">
    <img src="/assets/ressources/Health.png" alt="" />

    <ion-card-header>
      <ion-card-subtitle>Commencez</ion-card-subtitle>
      <ion-card-title>Bienvenue sur l'application des gestes de secours</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Application créée par deux étudiants dans le contexte de GSB.</p>
    </ion-card-content>

  </ion-card>



</ion-content>
